@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Source Sans 3", sans-serif;
    src: url("./assets/fonts/SourceSans3-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "Poppins", sans-serif;
    src: url("./assets/fonts/Poppins-Variable.ttf");
  }
}

@layer base {
  body {
    @apply bg-main-900;
  }
  p {
    @apply text-main-400 font-source3;
  }
  h1 {
    @apply text-3xl font-bold text-main-100 font-poppins;
  }
  h2 {
    @apply text-2xl font-semibold text-main-100 font-poppins;
  }
}
